img {
    width: 200px;
    height:200px;
}
#red{
    color:red;
}
#blue{
    color:blue; 
}
#yellow{
    color:yellow
}
#orange{
    color:orange
}
#green{
    color:green
}
h2.color-title {
    font-weight:normal
}